<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{template.html}">
<head>
    <title>Галерея</title>
</head>
<body>
<section layout:fragment="custom-content">

    <pre>
        Галерея.
        Список элементов в массиве galleryList
        У каждого элемента два поля:
        image - исходное изображение
        thumbnail - превью
    </pre>

</section>
<footer>
    <p layout:fragment="custom-footer">Новый тест в футере для страницы main</p>
</footer>
</body>
</html>