<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{template.html}">
<head>
    <title>Рабочее время</title>
    <script>
        /* Russian (UTF-8) initialisation for the jQuery UI date picker plugin. */
        /* Written by Andrew Stromnov (stromnov@gmail.com). */
        (function (factory) {
            if (typeof define === "function" && define.amd) {
                // AMD. Register as an anonymous module.
                define(["../widgets/datepicker"], factory);
            } else {
                // Browser globals
                factory(jQuery.datepicker);
            }
        }(function (datepicker) {

            datepicker.regional.ru = {
                closeText: "Закрыть",
                prevText: "&#x3C;Пред",
                nextText: "След&#x3E;",
                currentText: "Сегодня",
                monthNames: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь",
                    "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
                monthNamesShort: ["Янв", "Фев", "Мар", "Апр", "Май", "Июн",
                    "Июл", "Авг", "Сен", "Окт", "Ноя", "Дек"],
                dayNames: ["воскресенье", "понедельник", "вторник", "среда", "четверг", "пятница", "суббота"],
                dayNamesShort: ["вск", "пнд", "втр", "срд", "чтв", "птн", "сбт"],
                dayNamesMin: ["Вс", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб"],
                weekHeader: "Нед",
                dateFormat: "yy-mm-dd",
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ""
            };
            datepicker.setDefaults(datepicker.regional.ru);

            return datepicker.regional.ru;

        }));
    </script>

    <script>
        $(function () {
            $('#workDate').datepicker();
        });
    </script>
</head>
<body>
<section layout:fragment="custom-content" class="section">
    <h1><a href="/">Домашняя</a></h1>
    <div>
        <form method="get" action="/worktime">
            <div><input type="text" name="employeeName" th:value="${employeeName}"/></div>
            <div><input type="text" id="workDate" name="workDate" th:value="${workDate}"/></div>
            <div><input type="submit" value="Найти"/></div>
        </form>
    </div>
    <table id="workTimeList">
        <tr>
            <th>ФИО</th>
            <th>Должность</th>
            <th>Дата</th>
            <th>Время работы</th>
        </tr>
        <tr th:each="row: ${workTimeList}">
            <td th:text="${row.employeeName}">0</td>
            <td th:text="${row.positionName}">Name</td>
            <td th:text="${row.workDate}">Name</td>
            <td th:text="${row.workTimeMinutes}">Name</td>
        </tr>
    </table>
</section>
<footer>
</footer>
</body>
</html>